### Import libraries

In [838]:
import numpy as np
import tensorflow as tf
import pandas as pd
import re

### Import data

In [839]:
raw_name_data1 = pd.read_csv('sienet-jakalat.tsv', sep='\t')

In [840]:
raw_name_data2 = pd.read_csv('hyont-hamahakit.tsv', sep='\t')

In [841]:
raw_name_data3 = pd.read_csv('sammalet.tsv', sep='\t')

In [964]:
raw_name_data4 = pd.read_csv('muut-org.tsv', sep='\t')

In [965]:
df1 = raw_name_data1.copy()
df2 = raw_name_data2.copy()
df3 = raw_name_data3.copy()
df4 = raw_name_data4.copy()

In [966]:
df1

     Suositeltu yleiskielinen nimi
0                 ryväspiilojäkälä
1                 höynäpiilojäkälä
2                  sädepiilojäkälä
3                 taigapiilojäkälä
4                 härmäpiilojäkälä
...                            ...
5498               käenrieskannoki
5499           rantavihvilänjuurio
5500          konnanvihvilänjuurio
5501                    hiiponhome
5502                stormögel (sv)

[5503 rows x 1 columns]

In [967]:
df2

     Suositeltu yleiskielinen nimi
0                kivikkosiimahäntä
1                  rantasiimahäntä
2                     sokeritoukka
3                       uunitoukka
4                      paanutoukka
...                            ...
7845         saaristovaleskorpioni
7846           ansarivaleskorpioni
7847            rahkavaleskorpioni
7848          kivikkovaleskorpioni
7849           sammalvaleskorpioni

[7850 rows x 1 columns]

In [968]:
df3

    Suositeltu yleiskielinen nimi
0               lapinkarstasammal
1              pohjankarstasammal
2             tunturikarstasammal
3               suonikarstasammal
4                lumikarstasammal
..                            ...
691                kiirunansammal
692            lännenloukkosammal
693             metsäloukkosammal
694           tunturiloukkosammal
695                    lahosammal

[696 rows x 1 columns]

In [969]:
df4

         Suositeltu yleiskielinen nimi
0                       lumihyppiäinen
1                      laumahyppiäinen
2                            pyrstökäs
3                             levärupi
4                     sormisammaleläin
..                                 ...
232                           nukkanen
233  bacterial soft rot of potato (en)
234  bacterial stunt of carnation (en)
235                  kauran kehälaikku
236                    bakteerilakaste

[237 rows x 1 columns]

In [970]:
df_name = df1.append(df2, ignore_index=True)
df_name = df_name.append(df3, ignore_index=True)
df_name = df_name.append(df4, ignore_index=True)
df_name

           Suositeltu yleiskielinen nimi
0                       ryväspiilojäkälä
1                       höynäpiilojäkälä
2                        sädepiilojäkälä
3                       taigapiilojäkälä
4                       härmäpiilojäkälä
...                                  ...
14281                           nukkanen
14282  bacterial soft rot of potato (en)
14283  bacterial stunt of carnation (en)
14284                  kauran kehälaikku
14285                    bakteerilakaste

[14286 rows x 1 columns]

### Clean up data

In [971]:
df_name.dropna(subset = ["Suositeltu yleiskielinen nimi"], inplace=True)

In [972]:
# df[df['A'].apply(lambda x: x in given)]
indexSwedishNames = df_name[ df_name['Suositeltu yleiskielinen nimi'].apply(lambda x: '(sv)' in x) ].index
indexSwedishNames

Int64Index([   20,    30,    46,    55,    60,    86,    87,   100,   101,
              108,
            ...
            13207, 13208, 13209, 13210, 13211, 13212, 13213, 13214, 13319,
            13823],
           dtype='int64', length=390)

In [973]:
df_name.drop(indexSwedishNames , inplace=True)

In [974]:
indexEnglishNames = df_name[ df_name['Suositeltu yleiskielinen nimi'].apply(lambda x: '(en)' in x) ].index
indexEnglishNames

Int64Index([ 1979,  2057,  5244,  5684,  5692,  5698,  5710,  5714,  5716,
             5717,  5720,  5724,  5729,  5730,  5731,  5732,  5758,  6535,
             8185,  8209, 12688, 12702, 13219, 14059, 14282, 14283],
           dtype='int64')

In [975]:
df_name.drop(indexEnglishNames , inplace=True)

In [976]:
indexWeirdNames = df_name[ df_name['Suositeltu yleiskielinen nimi'].apply(lambda x: ('c' in x) or ('f' in x) )].index
indexWeirdNames

Int64Index([   85,  1837,  1838,  1870,  1959,  1960,  1961,  2004,  5699,
             6765,  7257,  7361,  7695,  7701,  7973,  7978,  8471, 11090,
            11096, 11126, 11811, 11891, 12189, 12218, 12240, 12241, 12243,
            12251, 12682, 12759, 13138],
           dtype='int64')

In [977]:
rowData = df_name.loc[ indexWeirdNames , : ]
rowData

                   Suositeltu yleiskielinen nimi
85                perunan cercospora-lehtilaikku
1837                               poimutryffeli
1838                               kuplatryffeli
1870                                aivotryffeli
1959                               ruskotryffeli
1960                              pohjantryffeli
1961                              löyhkätryffeli
2004                             tähkäfusarioosi
5699                       kalifornianripsiäinen
6765                           faaraomuurahainen
7257     harjupisarsukeltaja (alalaji cristatus)
7361         sinikiitäjäinen (alalaji violaceus)
7695      muurahaisrääpikäs (alalaji lapponicus)
7701          tunturirääpikäs (alalaji colletti)
7973          sarvikuonokas (alalaji nasicornis)
7978        kuparikuoriainen (alalaji metallica)
8471       kaksipistepirkko (alalaji bipunctata)
11090   ratamoverkkoperhonen (alalaji norvegica)
11096            täpläpapurikko (alalaji tircis)
11126  harjusinisiipi (alalaji schiffermuelleri)
11811          rakkasiilikäs (alalaji fridolini)
11891       pikkutinayökkönen (alalaji gracilis)
12189         isohietayökkönen (alalaji rossica)
12218       keilamaayökkönen (alalaji exclamans)
12240       kirjoharmoyökkönen (alalaji baltica)
12241       kirjoharmoyökkönen (alalaji arctica)
12243       nuoliharmoyökkönen (alalaji fennica)
12251       puneharmoyökkönen (alalaji alpicola)
12682                           freynasekärpänen
12759                            freynpäpsiäinen
13138                           floridankärpänen

In [978]:
df_name.drop(indexWeirdNames , inplace=True)

In [979]:
df_name

      Suositeltu yleiskielinen nimi
0                  ryväspiilojäkälä
1                  höynäpiilojäkälä
2                   sädepiilojäkälä
3                  taigapiilojäkälä
4                  härmäpiilojäkälä
...                             ...
14279                karttunuoranen
14280                 tuplanuoranen
14281                      nukkanen
14284             kauran kehälaikku
14285               bakteerilakaste

[13839 rows x 1 columns]

In [980]:
df_name.describe()

       Suositeltu yleiskielinen nimi
count                          13839
unique                         13837
top                 pikkusiipisammal
freq                               2

In [981]:
name_max_length = df_name['Suositeltu yleiskielinen nimi'].str.len().max()
name_max_length

43

In [982]:
name_min_length = df_name['Suositeltu yleiskielinen nimi'].str.len().min()
name_min_length

6

### Sekoita datasetti

In [983]:
df_name_shuffled = df_name.sample(frac=1)

In [984]:
df_name_shuffled

      Suositeltu yleiskielinen nimi
5450                tupasluikannoki
299                 muhkumustuainen
11976                 varjoyökkönen
6921              paahdehoikkahukka
7893             kuningaslyhytsiipi
...                             ...
4597                valkorihmakääpä
5666                   kangassirkka
7772             helyhaaskavaajakas
6923               nilkkahohkahukka
7175             lapinkaislakorento

[13839 rows x 1 columns]

In [985]:
df_name_shuffled.describe()

       Suositeltu yleiskielinen nimi
count                          13839
unique                         13837
top                 lapintierasammal
freq                               2

### Siivotaan nimiä

In [986]:
# väliviivat pois

clean_names_list_1 = [s.replace('-','') for s in df_name_shuffled['Suositeltu yleiskielinen nimi']]

# välilyönnit pois

clean_names_list_2 = [s.replace(' ','') for s in clean_names_list_1]

# sulkujen väliset jutut pois

clean_names_list_3 = [re.sub(r'\([^)]*\)', '', name) for name in clean_names_list_2]

### Stringin räjäyttäminen

In [987]:
# Extract K length substrings
# Using list comprehension + string slicing

def explodeStringToSubstrings(test_str, substr_length = 4):
    return [test_str[i: j] for i in range(len(test_str)) for j in range(i + 1, len(test_str) + 1) if len(test_str[i:j]) == substr_length]

def explodeStringToSimpleSubstrings(test_str, substr_length = 2):
    return [test_str[i:i+substr_length] for i in range(0, len(test_str), substr_length)]

In [988]:
exploded_names_list = list(map(explodeStringToSimpleSubstrings, clean_names_list_3))

In [989]:
print(len(exploded_names_list))

13839

In [990]:
exploded_names_flat_list = [item for sublist in exploded_names_list for item in sublist]

### Alkutavut talteen

In [991]:
# newlist = [expression for item in iterable if condition == True]
beginnings = [(name[0],name[1]) for name in exploded_names_list]
len(beginnings)

13839

## Tää tiedoston kautta kierrättäminen ei ihan heti toiminut, list/array

### save tokens to file, one dialog per line
def save_doc(lines, filename):
    data = '\n'.join(lines)
    file = open(filename, 'w')
    file.write(data)
    file.close()
    
### save sequences to file
out_filename = 'species_sequences.txt'
save_doc(exploded_names_flat_list, out_filename)

### Pitkän tekstin jakaminen saman mittaisiin osiin

length = 50 + 1
sequences = list()
for i in range(length, len(exploded_names_flat_list)):
    # select sequence of tokens
    seq = exploded_names_flat_list[i-length:i]
    # convert into a line
    line = ' '.join(seq)
    # store
    sequences.append(line)
print('Total Sequences: %d' % len(sequences))

### load doc into memory
def load_doc(filename):
    # open the file as read only
    file = open(filename, 'r')
    # read all text
    text = file.read()
    # close the file
    file.close()
    return text
 
### load
in_filename = 'species_sequences.txt'
doc = load_doc(in_filename)
lines = doc.split('\n')

### Pitkän listan jakaminen saman mittaisiin osalistoihin --> matriisi

In [992]:
# [lst[i:i + n] for i in range(0, len(lst), n)]
def splitInChunks(flat_list, length):
    return [flat_list[i:i + length] for i in range(0, len(flat_list), length)]

In [993]:
# 5 mittaisia listoja
data_in_chunks = splitInChunks(exploded_names_flat_list, 5)

In [994]:
len(data_in_chunks)

21883

### Jaetaan data train ja validate -osiin

In [995]:
data_train = data_in_chunks[:20000]
data_validate = data_in_chunks[20000:]

### Integer encode sequences of words

In [996]:
tokenizer = tf.keras.preprocessing.text.Tokenizer()

# Updates internal vocabulary based on a list of texts.
tokenizer.fit_on_texts(data_in_chunks)

# Transforms each text in texts to a sequence of integers.
sequences_train = tokenizer.texts_to_sequences(data_train)
sequences_validate = tokenizer.texts_to_sequences(data_validate)

In [997]:
print(len(sequences_train))
print(len(sequences_validate))

20000
1883

In [998]:
print(sequences_train[500])
print(sequences_validate[500])

[61, 79, 128, 3, 101]
[72, 26, 46, 4, 13]

In [999]:
#newlist = [expression for item in iterable if condition == True]
lengths_v = [len(i) for i in sequences_validate]
lengths_t = [len(i) for i in sequences_train]

In [1000]:
print(min(lengths_t))
print(min(lengths_v))

5
2

In [1001]:
# trimmaa viimeinen vajaa rivi pois
sequences_validate = sequences_validate[:len(sequences_validate)-1]

In [1002]:
sequences_validate[len(sequences_validate)-1]

[130, 52, 241, 14, 51]

In [1003]:
type(sequences_train)

list

In [1004]:
sequences_train = np.asarray(sequences_train)

In [1005]:
sequences_validate = np.asarray(sequences_validate)

In [1006]:
len(tokenizer.word_index)

346

In [1007]:
# vocabulary size
vocab_size = len(tokenizer.word_index) + 1
vocab_size

347

In [1008]:
sequences_train.shape

(20000, 5)

In [1009]:
X_train, y_train = sequences_train[:,:-1], sequences_train[:,-1]

In [1010]:
X_validate, y_validate = sequences_validate[:,:-1], sequences_validate[:,-1]

In [1011]:
X_train

array([[ 42,  50, 241, 208],
       [145,  25,  12,  78],
       [171,  38,  42,  52],
       ...,
       [ 31, 152,  26,   1],
       [ 68,  45,  86,  56],
       [ 22,  36,  63, 170]])

In [1012]:
y_train = np.asarray(y_train)
y_train

array([  1, 134,   6, ...,  18, 159, 107])

In [1013]:
y_train = tf.keras.utils.to_categorical(y_train, num_classes=vocab_size)

In [1014]:
y_validate = tf.keras.utils.to_categorical(y_validate, num_classes=vocab_size)

In [1015]:
y_train

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [1016]:
y_train.shape

(20000, 347)

In [1017]:
X_train.shape

(20000, 4)

In [1018]:
seq_length = X_train.shape[1]
seq_length

4

### Define model

In [1019]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Embedding(vocab_size, 4, input_length=seq_length))
model.add(tf.keras.layers.LSTM(200, return_sequences=True))
model.add(tf.keras.layers.LSTM(300, return_sequences=True))
model.add(tf.keras.layers.LSTM(200))
model.add(tf.keras.layers.Dense(120, activation='relu'))
model.add(tf.keras.layers.Dense(vocab_size, activation='softmax'))
print(model.summary())

Model: "sequential_12"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_12 (Embedding)     (None, 4, 4)              1388
_________________________________________________________________
lstm_38 (LSTM)               (None, 4, 200)            164000
_________________________________________________________________
lstm_39 (LSTM)               (None, 4, 300)            601200
_________________________________________________________________
lstm_40 (LSTM)               (None, 200)               400800
_________________________________________________________________
dense_24 (Dense)             (None, 120)               24120
_________________________________________________________________
dense_25 (Dense)             (None, 347)               41987
=================================================================
Total params: 1,233,495
Trainable params: 1,233,495
Non-trainable params: 0
_________________________________________________________________
None

### Compile model

In [1020]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

### Fit model

In [1021]:
model.fit(X_train,
          y_train,
          batch_size=64,
          epochs=20,
          validation_data=(X_validate, y_validate))

Epoch 1/20
313/313 [==============================] - 17s 37ms/step - loss: 5.2478 - accuracy: 0.0206 - val_loss: 5.1333 - val_accuracy: 0.0213
Epoch 2/20
313/313 [==============================] - 10s 33ms/step - loss: 5.1522 - accuracy: 0.0269 - val_loss: 5.0862 - val_accuracy: 0.0255
Epoch 3/20
313/313 [==============================] - 12s 38ms/step - loss: 4.9870 - accuracy: 0.0434 - val_loss: 4.8054 - val_accuracy: 0.0574
Epoch 4/20
313/313 [==============================] - 12s 38ms/step - loss: 4.6652 - accuracy: 0.0771 - val_loss: 4.5146 - val_accuracy: 0.1015
Epoch 5/20
313/313 [==============================] - 12s 37ms/step - loss: 4.3996 - accuracy: 0.1107 - val_loss: 4.3346 - val_accuracy: 0.1302
Epoch 6/20
313/313 [==============================] - 12s 38ms/step - loss: 4.2211 - accuracy: 0.1326 - val_loss: 4.2150 - val_accuracy: 0.1530
Epoch 7/20
313/313 [==============================] - 12s 37ms/step - loss: 4.0987 - accuracy: 0.1470 - val_loss: 4.1825 - val_accuracy: 0.1562
Epoch 8/20
313/313 [==============================] - 12s 38ms/step - loss: 4.0037 - accuracy: 0.1586 - val_loss: 4.0907 - val_accuracy: 0.1791
Epoch 9/20
313/313 [==============================] - 12s 38ms/step - loss: 3.9055 - accuracy: 0.1720 - val_loss: 4.0362 - val_accuracy: 0.1748
Epoch 10/20
313/313 [==============================] - 12s 39ms/step - loss: 3.8005 - accuracy: 0.1858 - val_loss: 3.9988 - val_accuracy: 0.1892
Epoch 11/20
313/313 [==============================] - 12s 37ms/step - loss: 3.7015 - accuracy: 0.1975 - val_loss: 3.9459 - val_accuracy: 0.1987
Epoch 12/20
313/313 [==============================] - 12s 38ms/step - loss: 3.6001 - accuracy: 0.2162 - val_loss: 3.8836 - val_accuracy: 0.2109
Epoch 13/20
313/313 [==============================] - 12s 39ms/step - loss: 3.4939 - accuracy: 0.2351 - val_loss: 3.8453 - val_accuracy: 0.2290
Epoch 14/20
313/313 [==============================] - 12s 38ms/step - loss: 3.3995 - accuracy: 0.2501 - val_loss: 3.8375 - val_accuracy: 0.2264
Epoch 15/20
313/313 [==============================] - 12s 37ms/step - loss: 3.2942 - accuracy: 0.2664 - val_loss: 3.8081 - val_accuracy: 0.2418
Epoch 16/20
313/313 [==============================] - 12s 38ms/step - loss: 3.1950 - accuracy: 0.2785 - val_loss: 3.8350 - val_accuracy: 0.2455
Epoch 17/20
313/313 [==============================] - 12s 37ms/step - loss: 3.1007 - accuracy: 0.2950 - val_loss: 3.7984 - val_accuracy: 0.2630
Epoch 18/20
313/313 [==============================] - 12s 38ms/step - loss: 3.0131 - accuracy: 0.3117 - val_loss: 3.8389 - val_accuracy: 0.2593
Epoch 19/20
313/313 [==============================] - 12s 38ms/step - loss: 2.9201 - accuracy: 0.3236 - val_loss: 3.8301 - val_accuracy: 0.2694
Epoch 20/20
313/313 [==============================] - 12s 38ms/step - loss: 2.8244 - accuracy: 0.3397 - val_loss: 3.8782 - val_accuracy: 0.2667

In [1022]:
# save the model to file
model.save('model17.h5')
# save the tokenizer
import pickle
pickle.dump(tokenizer, open('tokenizer17.pkl', 'wb'))

### Generate

In [1023]:
print(seq_length)

4

### predictParts

In [1024]:
def predictParts(input_word):
    encoded_text = tokenizer.texts_to_sequences([input_word])[0]
    #print(encoded_text)
    yhat = model.predict(encoded_text, verbose=0)
    yhat_max = np.max(yhat)
    yhat_max_index = np.argmax(yhat)
    out_word = ''
    for word, index in tokenizer.word_index.items():
        if index == yhat_max_index:
            out_word = word
            break
    return (out_word, yhat_max)

In [1025]:
predictParts('pa')

WARNING:tensorflow:Model was constructed with shape (None, 4) for input KerasTensor(type_spec=TensorSpec(shape=(None, 4), dtype=tf.float32, name='embedding_12_input'), name='embedding_12_input', description="created by layer 'embedding_12_input'"), but it was called on an input with incompatible shape (None, 1).

('ka', 0.07604451)

### predictManyParts

In [1026]:
def predictManyParts(input,number=5):
    predicted_word = ''
    input_w = input
    for i in range(number):
        predicted = predictParts(input_w)[0]
        #print(predicted)
        predicted_word = predicted_word + predicted
        input_w = predicted
    return predicted_word

In [1027]:
predictManyParts('ik', number=10)

'nekäitinuräknekäitin'

### predictManyPartsWithProb

In [1028]:
def predictManyPartsWithProb(input,number=5,min_prob=0.04):
    predicted_word = ''
    input_w = input
    for i in range(number):
        predicted = predictParts(input_w)
        print(predicted)
        if (predicted[1]>=min_prob):
            predicted_word = predicted_word + predicted[0]
            input_w = predicted[0]
    return input + predicted_word

In [1029]:
predictManyPartsWithProb('ik',number=10, min_prob=0.09)

('ne', 0.6175339)
('kä', 0.029228244)
('kä', 0.029228244)
('kä', 0.029228244)
('kä', 0.029228244)
('kä', 0.029228244)
('kä', 0.029228244)
('kä', 0.029228244)
('kä', 0.029228244)
('kä', 0.029228244)

'ikne'

### predictManyPartsWithProbNoRepeat

In [1030]:
keys_list = list(tokenizer.word_index)

In [1031]:
def predictManyPartsWithProbNoRepeat(input=None,number=5,min_prob=0.04):
    if (input == None):
        random_beg = np.random.randint(0,len(beginnings))
        #print('random = ' + str(random))
        input = beginnings[random_beg][1]
        print(beginnings[random_beg])
        
    predicted_word = beginnings[random_beg][0] + beginnings[random_beg][1]
    memory = ''
    input_w = input
    
    for i in range(number):
        
        try:
            predicted = predictParts(input_w)
        except(KeyError) as e:
            print(e)
            break
            
        
        if ((predicted[0] != input_w) & (predicted[0] != memory) ): # jos eri tulos
            #print('1 predicted, input_w: ' + predicted[0] + input_w)
            if (predicted[1]>=min_prob):
                predicted_word = predicted_word + predicted[0]
                memory = input_w
                input_w = predicted[0]
                
            else:
                predicted_word = predicted_word + '-'
                memory = input_w
                random = np.random.randint(0,len(tokenizer.word_index))
                input_w = keys_list[random]
        else:
            #valitaan randomisti toinen tavu
            random = np.random.randint(0,len(tokenizer.word_index))
            memory = input_w
            input_w = keys_list[random]
            predicted_word = predicted_word + input_w
    
    print(predicted_word)        
    return predicted_word

In [1032]:
for i in range(15):
    predictManyPartsWithProbNoRepeat(number=15, min_prob=0.032)

('he', 'lm')
helmkagmökne-kaänyitinuräkne-it
('ka', 'kk')
kakkäkne-oakaäine--käitinuräkne
('ku', 'us')
kuusamenkabiitinuräkne-kavihv-it
('ja', 'uh')
jauhkäitinuräkne-katarokatjikne-
('ku', 'pa')
kupakatvnikatminuräkne-äkne-oika
('ka', 'lk')
kalkkäitinuräkne-käitinuräkne-ni
('ka', 'lk')
kalkkäitinuräkne-kasjökne--itin
('ki', 'rs')
kirskäitinuräkne-ökne-oikattökne
('mu', 'ru')
murukatp-ayökne-kaivasuräkne-ka
('su', 'ka')
sukaayökne-nikane-käitinuräkne-
('ho', 'pe')
hope-kanpasuräkne--ökne-käitin
('ke', 'ih')
keihkäitinuräkne-kayyökne-käitin
('mä', 'nt')
mäntasuräkne-käitinuräkne-iäökne
('ka', 'ng')
kangkat--kaytenkaiyökne-itinur
('ka', 'lv')
kalvkäitinuräkne-takaariäökne-ka